html {
	box-sizing: border-box;
	// font-smoothing: antialiased;
	height: 100%;
	width: 100%;
}

body {
	// min-width: 640px;
	font-smoothing: subpixel-antialiased;
	&.home {
		height: 100%;
	}
}

a {
	color: black;

	&:hover {
		color: $colour_highlight;
	}
	
}