html {
	box-sizing: border-box;
	// font-smoothing: antialiased;
	height: 100%;
	width: 100%;
}

body {
	font-smoothing: subpixel-antialiased;
	min-height: 100%;
	color: $colour_mineshaft;
}

a {
	color: $colour_mineshaft;
	text-decoration: none;
	cursor: pointer;

}

a:hover:not(#logo):not(.hero-link) {
	transition: color $speed $delay/3;
	color: $colour_coralred;

	// &.special-link {
	// 	// border-top: 2px solid $colour_coralred;
	// 	// box-shadow: inset 0 1px 0 $colour_aquamarine;
	// 	color: $colour_aquamarine;
	// 	transition: background $speed, color $speed;
	// 	// color: $colour_coralred;

	// 	&:hover {
	// 		// box-shadow: inset 0 31px 0 $colour_aquamarine;
	// 		color: $colour_mineshaft;
	// 		background: $colour_aquamarine;
	// 	}
	// }
}

img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 $container-spacing_mb;

	@include respond-to(desktop) {
		padding: 0 $container-spacing_dt;
	}

	&.slim {
		max-width: 880px;
	}


}