//-------------------------------------------------//
//	page header
//-------------------------------------------------//
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;	
	height: 0;
	
	a, button {
		position: fixed;
		margin: 2.5rem;
		
			@include respond-to(desktop) {
				margin: 4rem;
			}


		&#logo {
			top: 0;
			left: 0;
			z-index: 1;			
		}

		&.menu-toggle {
			top: 0;
			right: 0;
			z-index: 100000;

			.burger {
				@include size(36px, 7px);
				position: relative;
				margin: 14px 0;
				background: $colour_mineshaft;

				&:before, &:after {
					@include size(36px, 7px);
					position: absolute;
					display: block;
					content: '';
					background: $colour_mineshaft;
					transition: top $speed/2;
				}
				
				&:before 	{ top: -14px; }
				&:after 	{ top: 14px; }
			}

			&:hover .burger {
				&:before 	{ top: -16px; }
				&:after		{ top: 16px; }	
			}

			&.close {

				.burger {
					background: transparent;

					&:before, &:after {
						background: $colour_sazerac;
						top: 0;
					}
					
					&:before 	{ transform: rotate(-45deg); }
					&:after 	{ transform: rotate(45deg); }

				}

			}

		}


	}

}


//-------------------------------------------------//
//	navigation
//-------------------------------------------------//
nav {
	@include size(80% 100%);
	z-index: 10000;
	overflow: hidden;
	background: black;

	@include respond-to(desktop) {
		width: 196px;
	}
	
	#menu {
		z-index: 1000;
		margin-top: 300px;

		@include respond-to(desktop) {
			margin-top: 230px;
		}

		li {
			padding: 0 2rem;
			font-size: 3.5em;
			line-height: 1.2;			
			text-align: left;
			text-transform: uppercase;
			
			@include respond-to(desktop) {
				padding: 0 4rem;
				font-size: 2em;
				text-align: right;
			}

			&.current-menu-item  a {
				color: $colour_coralred;
			}	

		}
		
		a {	color: $colour_sazerac;	}
		
	}

	#meta {
		position: absolute;
		bottom: 2rem;
		left: 0;
		padding: 0 2rem;	
		text-align: left;

		@include respond-to(desktop) {
			right: 0;
			padding: 0 4rem;
			text-align: right;
		}

		p {
			margin: 0;	
			font-size: 1em;

			@include respond-to(desktop) {
				font-size: 0.6em;
			}

		}
	}

}


//-------------------------------------------------//
//	home page
//-------------------------------------------------//
.home {
	
	main {
		@include size(100%);
	}

	article {
		display: flex;
		height: 100%;
		align-items: center;
		// background: url('http://lorempixel.com/1240/800/abstract/') no-repeat center center fixed;
		// background-size: cover;
		
	}

	.hero {
		position: relative;
		flex: 1;
		width: 100%;
		z-index: 1;
		margin: 2rem 2rem 0;

		@include respond-to(desktop) {
			margin: 4rem 4rem 0;
		}

		@include respond-to(small) {
			margin: 5rem 4rem 0;
		}

		.strip {
				
			@include respond-to(desktop) {
				@include size(100%, 2px);
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				z-index: -1;
				background: $colour_mineshaft;
				transition: width $speed $delay, height $speed, background $speed*2;
			}

		}	

		a { 
			display: block; 

			> * {
				transition: color $speed;
			}

		}

		a:hover {
			> *{
				color: white;

				// @include respond-to(desktop) {
				// 	color: inherit;
				// }
			}

			// .strip {
							
			// 	@include respond-to(desktop) {
			// 		@include size(80%, 80%);
			// 		background: white;
			// 		transition: width $speed, height $speed $delay, background $speed*2;
			// 	}	
			// }
		}		

	}
	
	
}

#controls {
	position: fixed;	
	bottom: 3rem;
	right: 0;
	z-index: 100;
	margin-right: $container-spacing_mb;

	@include respond-to(desktop) {
		margin-right: $container-spacing_dt;
	}

	a {
		display: block;
	}

}

.arrow {
	@include size(1.5rem);			

	polygon {
		transition: fill $speed;
	}
	
	&:hover polygon {
		fill: $colour_mineshaft;
	}

	#section-up & {
		transform: rotate(180deg);
		margin-bottom: 0.5rem;
	}
	
}

//-------------------------------------------------//
//	projects and about page
//-------------------------------------------------//
article {

	> header {
		position: static;
		height: 620px;

		.title {
			@include alignment(relative, 50%, null, translateY(-50%));
			@include alignment(relative, 50%, null, translateY(-50%));
			padding-top: 3rem;
		}

		h1 {
			@include respond-to(desktop) {
				// white-space: nowrap;
			}

		}

	}		

}



section {
	margin: $container-spacing_mb*2 0;

	@include respond-to(small) {
		margin: $container-spacing_dt 0;
	}
	@include respond-to(medium) {
		margin: $container-spacing_dt*1.5 0;
	}
	@include respond-to(large) {
		margin: $container-spacing_dt*2 0;
	}


	// types of sections
	&.text {
			
		@include respond-to(desktop) {
			margin: $container-spacing_dt*1.5 0;
		}
		@include respond-to(large) {
			margin: $container-spacing_dt*2 0;
		}

	}

	&.photo-grid {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		align-items: center;

		margin-left: $container-spacing_mb;
		margin-right: $container-spacing_mb;

		@include respond-to(desktop) {
			flex-direction: row;
			margin-bottom: $container-spacing_dt;
		}

		@include respond-to(small) {
			margin-left: $container-spacing_dt/1.5;
			margin-right: $container-spacing_dt/1.5;

		}

		@include respond-to(medium) {
			margin: 0 $container-spacing_dt/2;
		}

		> figure {
			flex: 1;
			padding-bottom: $container-spacing_mb;

			&:last-child {
				padding-bottom: 0;
			}

			@include respond-to(small) {
				padding: 0 $container-spacing_dt/4;
			}

			@include respond-to(medium) {
				padding: 0 $container-spacing_dt/2;
			}

			@include respond-to(large) {
				padding: 0 $container-spacing_dt/2;
			}
		
			> img {
				width: auto;
			}

		}

	}

	&.photo-mat {
		padding: $container-spacing_mb*2 0;
		background: $colour_galleria;

		@include respond-to(small) {
			padding: $container-spacing_dt 0;
		}
		@include respond-to(medium) {
			padding: $container-spacing_dt*1.5 0;
		}
		@include respond-to(large) {
			padding: $container-spacing_dt*2 0;
		}

	}

	&.next {
		margin-bottom: 0;
		padding: 0;

		a {
			position: relative;
			display: block;
			width: 100%;
			height: 400px;
			transition: background $speed*2;
		}

		.container {
			@include alignment(relative, 50%, null, translateY(-50%));
			padding-bottom: 2rem;
		}

	}

} //section

aside {
	padding-top: 3rem;
	
	@include respond-to(desktop) {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.tidbit {
		padding-right: 3rem;
		min-width: 230px;

		&:last-child {
			padding-right: 0;
		}

		> {
			display: inline;

			@include respond-to(desktop) {
				display: block;
			}
		}
		
	}	

	.tidbit-detail {
		font-size: 1.5em;


		@include respond-to(desktop) {
			font-size: 0.9em;
		}
	}			

}

//-------------------------------------------------//
//	specific to about page
//-------------------------------------------------//
#about {
	transition: width $speed;

	h1 {
		font-size: 4em;

		@include respond-to(desktop) {
			font-size: 7.5em;
		}

		@include respond-to(small) {

		}

		&.chat {
			@include respond-to(desktop) {
				font-size: 6em;
			}
			@include respond-to(large) {
				font-size: 6em;
			}
		}
	}
	
	header {
		display: flex;
		flex-direction: column;
		height: auto;

		@include respond-to(desktop) {
			height: 620px;
		}

		@include respond-to(small) {
			height: auto;
		}

		@include respond-to(medium) {
			flex-direction: row;
		}
		@include respond-to(large) {
			flex-direction: row;
		}
		
		> section {
			margin: 0;
			flex: 1;

			@include respond-to(medium) {
				flex: 0 0 50%;
			}
			@include respond-to(large) {
				flex: 0 0 50%;
			}			
		}

		#intro {
			background: $colour_aquamarine;
			padding-top: 8rem;
			padding-bottom: 4rem;

			@include respond-to(desktop) {
				padding-bottom: 0;
			}

			@include respond-to(small) {
				height: 450px;
				padding-top: 9.5rem;
			}

			@include respond-to(medium) {
				padding-top: 8rem;
			}

			@include respond-to(large) {
				padding-top: 10rem;
			}

			.about_title {
				z-index: 100;
	
				@include respond-to(desktop) {
					position: absolute;						
				}

				@include respond-to(small) {
					width: 80%;
				}
				
				@include respond-to(medium) {
					left: 20%;
				}

				@include respond-to(large) {
					max-width: 100%;
				}
				
			}

		}

		#mugshot {
			background: $colour_aquamarine url('../images/mugshot.jpg') no-repeat center center;
			background-size: cover;
			transition: opacity $speed*2;
			height: 430px;

			@include respond-to(desktop) {
				opacity: 0;
				height: auto;
			}
			
			@include respond-to(small) {
				opacity: 1;
				height: 620px;				
			}


			&:hover {				
				opacity: 1;
			}

		}

		&:hover #mugshot {
			opacity: 1;
		}

	}

	.about_text {
		
		@include respond-to(medium) {
			margin: 4rem 0;
		}

		@include respond-to(large) {
			position: relative;	
			left: 50%;		
			width: 50%;
			margin: 4rem 0;
		}

		.container {
			@include respond-to(medium) {
				padding-left: 0;
			}
			@include respond-to(large) {
				padding-left: 0;
			}
		}
	}
	
	#contact {
		background: $colour_aquamarine;
		padding-top: 2rem;
		padding-bottom: 4rem;
		margin-bottom: 0;

		@include respond-to(desktop) {
			background: transparent;
		}

		h5 {
			margin-bottom: 0.5rem;
		}

		aside {
			padding-top: 1rem;
		}

	}

	.about_tidbit {
		margin-top: 2rem;

		@include respond-to(desktop) {
			margin-top: 0;
		}

		.arrow {
			@include size(1rem);
			position: relative;
			transform: rotate(-90deg);
			left: 0.5rem;
			top: 0.1rem;

			polygon {
				fill: $colour_mineshaft;
			}
		}

		a:hover polygon {
			transition: fill $speed $delay/3;
			fill: $colour_coralred;
		}
	}

}
