// spacing
	$container-spacing_dt: 4rem;
	$container-spacing_mb: 2rem;

// palette
	$colour_mineshaft: #2b2b2b; //dark grey
	$colour_text-body: #555555; //grey
	$colour_galleria: #EDEDED; //light grey

	$colour_coralred: #fb3f3c; 
	$colour_aquamarine: #56fce5; 
	$colour_pizazz: #ff9600;
	$colour_sazerac: #FFF5E2; //beige

	$colour_sweepstakes: #f3d688;
	$colour_reorder: #0064d2;
	$colour_ids: #df0024;
	$colour_moda: #98c5e8;
	$colour_if: #ff3633;


// transitions
	$speed: 0.4s;
	$delay: 0.4s;
