@font-face {
  font-family: GT-Sectra-Display-Super-Italic;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GT-Sectra-Display-Super-Italic.eot");
  src: url("../fonts/GT-Sectra-Display-Super-Italic.eot?") format("eot"), url("../fonts/GT-Sectra-Display-Super-Italic.woff") format("woff"), url("../fonts/GT-Sectra-Display-Super-Italic.ttf") format("truetype");
}
@font-face {
  font-family: GT-Walsheim-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GT-Walsheim-Bold.eot");
  src: url("../fonts/GT-Walsheim-Bold.eot?") format("eot"), url("../fonts/GT-Walsheim-Bold.woff") format("woff"), url("../fonts/GT-Walsheim-Bold.ttf") format("truetype");
}
/* line 119, scss/helpers/_mixins.scss */
#case_ebaySweepstakes .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_legoFriends .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_richMedia .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_ebayGraphics .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_ebayFrance .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_bpl .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_bmo .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_ebayClassifieds .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_terrainTwister .case_hero {
  position: relative;
  background-color: black;
}

/* line 119, scss/helpers/_mixins.scss */
#case_orion .case_hero {
  position: relative;
  background-color: black;
}

/* line 1, scss/base/_global.scss */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* line 8, scss/base/_global.scss */
body {
  font-smoothing: subpixel-antialiased;
  min-height: 100%;
  color: #2b2b2b;
}

/* line 14, scss/base/_global.scss */
a {
  color: #2b2b2b;
  text-decoration: none;
  cursor: pointer;
}

/* line 25, scss/base/_global.scss */
img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* line 3, scss/base/_typography.scss */
html {
  font-size: 20px;
  line-height: 1.5;
}

/* line 8, scss/base/_typography.scss */
body {
  font: 1em/1.5 "Mate", Georgia, serif;
}

/* line 12, scss/base/_typography.scss */
h1 {
  font-family: GT-Sectra-Display-Super-Italic, Baskerville, Garamond, Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

/* line 14, scss/base/_typography.scss */
h3, h4, #logo, nav ul li {
  font-family: GT-Walsheim-Bold, Helvetica, Arial, Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* line 16, scss/base/_typography.scss */
p {
  font: 1.8em/1.5 "Mate", Georgia, serif;
  color: #555555;
}
@media only screen and (min-width: 657px) {
  /* line 16, scss/base/_typography.scss */
  p {
    font: 1em/1.5 "Mate", Georgia, serif;
  }
}

/* line 24, scss/base/_typography.scss */
h1 {
  font-size: 7.5em;
  line-height: 1;
  margin-bottom: 1rem;
}

/* line 30, scss/base/_typography.scss */
h3 {
  font-size: 1.4em;
  line-height: 1;
}

/* line 35, scss/base/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1em;
}
@media only screen and (min-width: 657px) {
  /* line 35, scss/base/_typography.scss */
  h4 {
    font-size: 1em;
  }
}

/* line 1, scss/_styles.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 8, scss/_styles.scss */
header a, header button {
  position: fixed;
  margin: 50px;
}
@media only screen and (min-width: 657px) {
  /* line 8, scss/_styles.scss */
  header a, header button {
    margin: 4rem;
  }
}
/* line 17, scss/_styles.scss */
header a#logo, header button#logo {
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1.6em;
  text-transform: uppercase;
}
/* line 25, scss/_styles.scss */
header a.menu-toggle, header button.menu-toggle {
  top: 0;
  right: 0;
  z-index: 100000;
}
/* line 30, scss/_styles.scss */
header a.menu-toggle .burger, header button.menu-toggle .burger {
  width: 36px;
  height: 7px;
  position: relative;
  margin: 14px 0;
  background: #2b2b2b;
}
/* line 36, scss/_styles.scss */
header a.menu-toggle .burger:before, header a.menu-toggle .burger:after, header button.menu-toggle .burger:before, header button.menu-toggle .burger:after {
  width: 36px;
  height: 7px;
  position: absolute;
  display: block;
  content: '';
  background: #2b2b2b;
  transition: top 0.2s;
}
/* line 45, scss/_styles.scss */
header a.menu-toggle .burger:before, header button.menu-toggle .burger:before {
  top: -14px;
}
/* line 46, scss/_styles.scss */
header a.menu-toggle .burger:after, header button.menu-toggle .burger:after {
  top: 14px;
}
/* line 50, scss/_styles.scss */
header a.menu-toggle:hover .burger:before, header button.menu-toggle:hover .burger:before {
  top: -16px;
}
/* line 51, scss/_styles.scss */
header a.menu-toggle:hover .burger:after, header button.menu-toggle:hover .burger:after {
  top: 16px;
}
/* line 56, scss/_styles.scss */
header a.menu-toggle.close .burger, header button.menu-toggle.close .burger {
  background: transparent;
}
/* line 59, scss/_styles.scss */
header a.menu-toggle.close .burger:before, header a.menu-toggle.close .burger:after, header button.menu-toggle.close .burger:before, header button.menu-toggle.close .burger:after {
  background: #FFF5E2;
  top: 0;
}
/* line 64, scss/_styles.scss */
header a.menu-toggle.close .burger:before, header button.menu-toggle.close .burger:before {
  transform: rotate(-45deg);
}
/* line 65, scss/_styles.scss */
header a.menu-toggle.close .burger:after, header button.menu-toggle.close .burger:after {
  transform: rotate(45deg);
}

/* line 78, scss/_styles.scss */
nav {
  width: 80% 100%;
  height: 80% 100%;
  z-index: 10000;
  overflow: hidden;
  background: black;
}
@media only screen and (min-width: 657px) {
  /* line 78, scss/_styles.scss */
  nav {
    width: 196px;
  }
}
/* line 88, scss/_styles.scss */
nav #menu {
  z-index: 1000;
  height: 100%;
  margin-top: 230px;
}
/* line 93, scss/_styles.scss */
nav #menu li {
  font-size: 2em;
  text-align: right;
  text-transform: uppercase;
  padding: 0 2rem;
}
@media only screen and (min-width: 657px) {
  /* line 93, scss/_styles.scss */
  nav #menu li {
    padding: 0 4rem;
  }
}
/* line 104, scss/_styles.scss */
nav #menu li a {
  color: #FFF5E2;
}
/* line 112, scss/_styles.scss */
nav .close {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0;
  margin: 50px;
}
@media only screen and (min-width: 657px) {
  /* line 112, scss/_styles.scss */
  nav .close {
    margin: 100px;
  }
}
/* line 124, scss/_styles.scss */
nav .close img {
  width: 36px;
  height: 36px;
}

/* line 131, scss/_styles.scss */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media only screen and (min-width: 657px) {
  /* line 131, scss/_styles.scss */
  .container {
    padding: 0 4rem;
  }
}
/* line 140, scss/_styles.scss */
.container.slim {
  max-width: 980px;
}

/* line 149, scss/_styles.scss */
.home main {
  width: 100%;
  height: 100%;
}
/* line 154, scss/_styles.scss */
.home nav #menu li a.nav-work {
  color: #fb3f3c;
}
/* line 159, scss/_styles.scss */
.home article {
  height: 100%;
}
/* line 164, scss/_styles.scss */
.home article .hero {
  position: relative;
  top: 40%;
  z-index: 1;
  margin: 0 2rem;
}
@media only screen and (min-width: 657px) {
  /* line 164, scss/_styles.scss */
  .home article .hero {
    margin: 0 4rem;
  }
}
/* line 174, scss/_styles.scss */
.home article .hero .strip {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: #2b2b2b;
}
@media only screen and (min-width: 657px) {
  /* line 174, scss/_styles.scss */
  .home article .hero .strip {
    transition: width 0.4s 0.4s, height 0.4s, background 0.8s;
  }
}
/* line 189, scss/_styles.scss */
.home article .hero a:hover .strip {
  background: #fb3f3c;
}
@media only screen and (min-width: 657px) {
  /* line 189, scss/_styles.scss */
  .home article .hero a:hover .strip {
    width: 80%;
    height: 100%;
    transition: width 0.4s, height 0.4s 0.4s, background 0.8s;
  }
}

/* line 208, scss/_styles.scss */
.project article > header {
  position: static;
  height: 620px;
  background: #fb3f3c;
}
/* line 213, scss/_styles.scss */
.project article > header .title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 60px;
}
/* line 222, scss/_styles.scss */
.project section {
  margin-bottom: 4rem;
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 222, scss/_styles.scss */
  .project section {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 222, scss/_styles.scss */
  .project section {
    margin-bottom: 8rem;
  }
}
@media only screen and (min-width: 1241px) {
  /* line 222, scss/_styles.scss */
  .project section {
    margin-bottom: 8rem;
  }
}
/* line 236, scss/_styles.scss */
.project section.text {
  margin: 4rem 0;
}
@media only screen and (min-width: 657px) {
  /* line 236, scss/_styles.scss */
  .project section.text {
    margin: 8rem 0;
  }
}
/* line 245, scss/_styles.scss */
.project section.photo-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 2rem;
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 245, scss/_styles.scss */
  .project section.photo-grid {
    margin: 0 2.66667rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 245, scss/_styles.scss */
  .project section.photo-grid {
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 657px) {
  /* line 245, scss/_styles.scss */
  .project section.photo-grid {
    flex-direction: row;
    margin-bottom: 4rem;
  }
}
/* line 266, scss/_styles.scss */
.project section.photo-grid > figure {
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 2rem;
  align-items: center;
}
@media only screen and (min-width: 657px) {
  /* line 266, scss/_styles.scss */
  .project section.photo-grid > figure {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 266, scss/_styles.scss */
  .project section.photo-grid > figure {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 266, scss/_styles.scss */
  .project section.photo-grid > figure {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1241px) {
  /* line 266, scss/_styles.scss */
  .project section.photo-grid > figure {
    padding: 0 2rem;
  }
}
/* line 292, scss/_styles.scss */
.project section.photo-mat {
  padding: 4rem 0;
  background: #FFF5E2;
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 292, scss/_styles.scss */
  .project section.photo-mat {
    padding: 4rem 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 292, scss/_styles.scss */
  .project section.photo-mat {
    padding: 8rem 0;
  }
}
@media only screen and (min-width: 1241px) {
  /* line 292, scss/_styles.scss */
  .project section.photo-mat {
    padding: 8rem 0;
  }
}

/* line 313, scss/_styles.scss */
aside {
  padding-top: 3rem;
}
@media only screen and (min-width: 657px) {
  /* line 313, scss/_styles.scss */
  aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
/* line 322, scss/_styles.scss */
aside .tidbit {
  padding: 0 3rem 1rem 0;
}
/* line 325, scss/_styles.scss */
aside .tidbit > {
  display: inline;
}
@media only screen and (min-width: 657px) {
  /* line 325, scss/_styles.scss */
  aside .tidbit > {
    display: block;
  }
}
/* line 335, scss/_styles.scss */
aside .tidbit-detail {
  font-size: 1.4em;
}
@media only screen and (min-width: 657px) {
  /* line 335, scss/_styles.scss */
  aside .tidbit-detail {
    font-size: 0.9em;
  }
}
