@font-face {
  font-family: GT-Sectra-Display-Super-Italic;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GT-Sectra-Display-Super-Italic.eot");
  src: url("../fonts/GT-Sectra-Display-Super-Italic.eot?") format("eot"), url("../fonts/GT-Sectra-Display-Super-Italic.woff") format("woff"), url("../fonts/GT-Sectra-Display-Super-Italic.ttf") format("truetype");
}
@font-face {
  font-family: GT-Walsheim-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GT-Walsheim-Bold.eot");
  src: url("../fonts/GT-Walsheim-Bold.eot?") format("eot"), url("../fonts/GT-Walsheim-Bold.woff") format("woff"), url("../fonts/GT-Walsheim-Bold.ttf") format("truetype");
}
/* line 110, scss/helpers/_mixins.scss */
.home article.uno {
  background-color: #fb3f3c;
}

/* line 114, scss/helpers/_mixins.scss */
section.next.uno a:hover {
  background-color: #fb3f3c;
}

/* line 118, scss/helpers/_mixins.scss */
.project article.uno > header {
  background-color: #fb3f3c;
}

/* line 110, scss/helpers/_mixins.scss */
.home article.dos {
  background-color: #56fce5;
}

/* line 114, scss/helpers/_mixins.scss */
section.next.dos a:hover {
  background-color: #56fce5;
}

/* line 118, scss/helpers/_mixins.scss */
.project article.dos > header {
  background-color: #56fce5;
}

/* line 110, scss/helpers/_mixins.scss */
.home article.tres {
  background-color: #ff9600;
}

/* line 114, scss/helpers/_mixins.scss */
section.next.tres a:hover {
  background-color: #ff9600;
}

/* line 118, scss/helpers/_mixins.scss */
.project article.tres > header {
  background-color: #ff9600;
}

/* line 110, scss/helpers/_mixins.scss */
.home article.quattro {
  background-color: #FFF5E2;
}

/* line 114, scss/helpers/_mixins.scss */
section.next.quattro a:hover {
  background-color: #FFF5E2;
}

/* line 118, scss/helpers/_mixins.scss */
.project article.quattro > header {
  background-color: #FFF5E2;
}

/* line 1, scss/base/_global.scss */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* line 8, scss/base/_global.scss */
body {
  font-smoothing: subpixel-antialiased;
  min-height: 100%;
  color: #2b2b2b;
}

/* line 14, scss/base/_global.scss */
a {
  color: #2b2b2b;
  text-decoration: none;
  cursor: pointer;
}

/* line 25, scss/base/_global.scss */
img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* line 3, scss/base/_typography.scss */
html {
  font-size: 20px;
  line-height: 1.5;
}

/* line 8, scss/base/_typography.scss */
body {
  font: 1em/1.5 "Mate", Georgia, serif;
}

/* line 12, scss/base/_typography.scss */
h1, h2 {
  font-family: GT-Sectra-Display-Super-Italic, Baskerville, Garamond, Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1px;
  text-transform: lowercase;
}

/* line 18, scss/base/_typography.scss */
h3, h4, h5, #logo, nav ul li {
  font-family: GT-Walsheim-Bold, Helvetica, Arial, Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 23, scss/base/_typography.scss */
p {
  font: 1.8em/1.5 "Mate", Georgia, serif;
  color: #555555;
  margin: 1rem 0 2rem;
}
@media only screen and (min-width: 657px) {
  /* line 23, scss/base/_typography.scss */
  p {
    font: 1em/1.5 "Mate", Georgia, serif;
  }
}

/* line 32, scss/base/_typography.scss */
h1 {
  font-size: 7.5em;
  line-height: 0.8;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

/* line 39, scss/base/_typography.scss */
h2 {
  font-size: 5em;
  line-height: 0.8;
  margin: 1rem 0;
}

/* line 45, scss/base/_typography.scss */
h3 {
  font-size: 1.6em;
  line-height: 1;
  margin: 0.5rem 0;
}

/* line 51, scss/base/_typography.scss */
h4 {
  font-size: 1.4em;
  line-height: 1;
  margin: 0.5rem 0;
}

/* line 57, scss/base/_typography.scss */
h5 {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 0.2em;
}
@media only screen and (min-width: 657px) {
  /* line 57, scss/base/_typography.scss */
  h5 {
    font-size: 1em;
    margin-bottom: 1em;
  }
}

/* line 1, scss/_styles.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 7, scss/_styles.scss */
header a, header button {
  position: fixed;
  margin: 50px;
}
@media only screen and (min-width: 657px) {
  /* line 7, scss/_styles.scss */
  header a, header button {
    margin: 4rem;
  }
}
/* line 16, scss/_styles.scss */
header a#logo, header button#logo {
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 22, scss/_styles.scss */
header a.menu-toggle, header button.menu-toggle {
  top: 0;
  right: 0;
  z-index: 100000;
}
/* line 27, scss/_styles.scss */
header a.menu-toggle .burger, header button.menu-toggle .burger {
  width: 36px;
  height: 7px;
  position: relative;
  margin: 14px 0;
  background: #2b2b2b;
}
/* line 33, scss/_styles.scss */
header a.menu-toggle .burger:before, header a.menu-toggle .burger:after, header button.menu-toggle .burger:before, header button.menu-toggle .burger:after {
  width: 36px;
  height: 7px;
  position: absolute;
  display: block;
  content: '';
  background: #2b2b2b;
  transition: top 0.2s;
}
/* line 42, scss/_styles.scss */
header a.menu-toggle .burger:before, header button.menu-toggle .burger:before {
  top: -14px;
}
/* line 43, scss/_styles.scss */
header a.menu-toggle .burger:after, header button.menu-toggle .burger:after {
  top: 14px;
}
/* line 47, scss/_styles.scss */
header a.menu-toggle:hover .burger:before, header button.menu-toggle:hover .burger:before {
  top: -16px;
}
/* line 48, scss/_styles.scss */
header a.menu-toggle:hover .burger:after, header button.menu-toggle:hover .burger:after {
  top: 16px;
}
/* line 53, scss/_styles.scss */
header a.menu-toggle.close .burger, header button.menu-toggle.close .burger {
  background: transparent;
}
/* line 56, scss/_styles.scss */
header a.menu-toggle.close .burger:before, header a.menu-toggle.close .burger:after, header button.menu-toggle.close .burger:before, header button.menu-toggle.close .burger:after {
  background: #FFF5E2;
  top: 0;
}
/* line 61, scss/_styles.scss */
header a.menu-toggle.close .burger:before, header button.menu-toggle.close .burger:before {
  transform: rotate(-45deg);
}
/* line 62, scss/_styles.scss */
header a.menu-toggle.close .burger:after, header button.menu-toggle.close .burger:after {
  transform: rotate(45deg);
}

/* line 75, scss/_styles.scss */
nav {
  width: 80% 100%;
  height: 80% 100%;
  z-index: 10000;
  overflow: hidden;
  background: black;
}
@media only screen and (min-width: 657px) {
  /* line 75, scss/_styles.scss */
  nav {
    width: 196px;
  }
}
/* line 85, scss/_styles.scss */
nav #menu {
  z-index: 1000;
  height: 100%;
  margin-top: 300px;
}
@media only screen and (min-width: 657px) {
  /* line 85, scss/_styles.scss */
  nav #menu {
    margin-top: 230px;
  }
}
/* line 94, scss/_styles.scss */
nav #menu li {
  padding: 0 2rem;
  font-size: 3.5em;
  text-align: right;
  text-transform: uppercase;
}
@media only screen and (min-width: 657px) {
  /* line 94, scss/_styles.scss */
  nav #menu li {
    padding: 0 4rem;
    font-size: 2em;
  }
}
/* line 107, scss/_styles.scss */
nav #menu a {
  color: #FFF5E2;
  transition: color 0.4s 0.13333s;
}
/* line 111, scss/_styles.scss */
nav #menu a:hover {
  color: #fb3f3c;
}

/* line 120, scss/_styles.scss */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media only screen and (min-width: 657px) {
  /* line 120, scss/_styles.scss */
  .container {
    padding: 0 4rem;
  }
}
/* line 129, scss/_styles.scss */
.container.slim {
  max-width: 980px;
}

/* line 138, scss/_styles.scss */
.home main {
  width: 100%;
  height: 100%;
}
/* line 143, scss/_styles.scss */
.home nav #menu li a.nav-work {
  color: #fb3f3c;
}
/* line 148, scss/_styles.scss */
.home article {
  height: 100%;
}
/* line 153, scss/_styles.scss */
.home article .hero {
  position: relative;
  top: 40%;
  z-index: 1;
  margin: 0 2rem;
}
@media only screen and (min-width: 657px) {
  /* line 153, scss/_styles.scss */
  .home article .hero {
    margin: 0 4rem;
  }
}
/* line 163, scss/_styles.scss */
.home article .hero .strip {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: #2b2b2b;
}
@media only screen and (min-width: 657px) {
  /* line 163, scss/_styles.scss */
  .home article .hero .strip {
    transition: width 0.4s 0.4s, height 0.4s, background 0.8s;
  }
}
/* line 178, scss/_styles.scss */
.home article .hero a:hover .strip {
  background: white;
}
@media only screen and (min-width: 657px) {
  /* line 178, scss/_styles.scss */
  .home article .hero a:hover .strip {
    width: 80%;
    height: 100%;
    transition: width 0.4s, height 0.4s 0.4s, background 0.8s;
  }
}

/* line 197, scss/_styles.scss */
.project article > header {
  position: static;
  height: 620px;
}
/* line 201, scss/_styles.scss */
.project article > header .title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 60px;
}
/* line 210, scss/_styles.scss */
.project section {
  margin: 4rem 0;
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 210, scss/_styles.scss */
  .project section {
    margin: 4rem 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 210, scss/_styles.scss */
  .project section {
    margin: 8rem 0;
  }
}
@media only screen and (min-width: 1241px) {
  /* line 210, scss/_styles.scss */
  .project section {
    margin: 8rem 0;
  }
}
@media only screen and (min-width: 657px) {
  /* line 224, scss/_styles.scss */
  .project section.text {
    margin: 8rem 0;
  }
}
/* line 233, scss/_styles.scss */
.project section.photo-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 233, scss/_styles.scss */
  .project section.photo-grid {
    margin-left: 2.66667rem;
    margin-right: 2.66667rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 233, scss/_styles.scss */
  .project section.photo-grid {
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 657px) {
  /* line 233, scss/_styles.scss */
  .project section.photo-grid {
    flex-direction: row;
    margin-bottom: 4rem;
  }
}
/* line 258, scss/_styles.scss */
.project section.photo-grid > figure {
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 2rem;
  align-items: center;
}
/* line 265, scss/_styles.scss */
.project section.photo-grid > figure:last-child {
  padding-bottom: 0;
}
@media only screen and (min-width: 657px) {
  /* line 258, scss/_styles.scss */
  .project section.photo-grid > figure {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 258, scss/_styles.scss */
  .project section.photo-grid > figure {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 258, scss/_styles.scss */
  .project section.photo-grid > figure {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1241px) {
  /* line 258, scss/_styles.scss */
  .project section.photo-grid > figure {
    padding: 0 2rem;
  }
}
/* line 288, scss/_styles.scss */
.project section.photo-mat {
  padding: 4rem 0;
  background: #FFF5E2;
}
@media only screen and (min-width: 657px) and (max-width: 1024px) {
  /* line 288, scss/_styles.scss */
  .project section.photo-mat {
    padding: 4rem 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  /* line 288, scss/_styles.scss */
  .project section.photo-mat {
    padding: 8rem 0;
  }
}
@media only screen and (min-width: 1241px) {
  /* line 288, scss/_styles.scss */
  .project section.photo-mat {
    padding: 8rem 0;
  }
}
/* line 304, scss/_styles.scss */
.project section.next {
  margin-bottom: 0;
  padding: 0;
}
/* line 308, scss/_styles.scss */
.project section.next a {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  transition: background 0.8s;
}
/* line 316, scss/_styles.scss */
.project section.next .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 2rem;
}

/* line 328, scss/_styles.scss */
aside {
  padding-top: 3rem;
}
@media only screen and (min-width: 657px) {
  /* line 328, scss/_styles.scss */
  aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
/* line 337, scss/_styles.scss */
aside .tidbit {
  padding: 0 3rem 1rem 0;
}
/* line 340, scss/_styles.scss */
aside .tidbit > {
  display: inline;
}
@media only screen and (min-width: 657px) {
  /* line 340, scss/_styles.scss */
  aside .tidbit > {
    display: block;
  }
}
/* line 350, scss/_styles.scss */
aside .tidbit-detail {
  font-size: 1.5em;
}
@media only screen and (min-width: 657px) {
  /* line 350, scss/_styles.scss */
  aside .tidbit-detail {
    font-size: 0.9em;
  }
}
